body {
    background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#media-links > a {
    color: #00ff00;
    font-size: 2.5em;
    margin: 15px;
}

#media-links {
    display: flex;
    justify-content: center;
}

#content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rows {
    width: auto;
}

pre {
    font: 15px;
    color: #00ff00;
    box-shadow: 0 0 50px black;
    background: rgba(0, 0, 0, 0.5);
}
