body {
    background-color: black;
}

#media-links > a {
    color: #00ff00;
    font-size: 2.5em;
    margin: 15px;
}

#media-links {
    display: flex;
    justify-content: center;
}

#content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rows {
    width: auto;
}

pre {
    color: #00ff00;
}
